.fl {
    float: left;
    clear: none;	
}
.fr {
    float: right;
    clear: none;	
}
.mt5 {
    margin-top: 5px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.form-table {
    width: 100%;
}
.checkbox_item {
    width: 20px;
}
.col-xs-120 {
    width: 98%;
    margin: 0 auto;
}

.col-xs-120 .form-group {
    float: left;
    margin-left: 36px;
    width: 46%;
}
.searchFormLabel {
    width: 100%;
}
#searchForm .pull-right {
    margin-right: 45px;
}
.ml5 {
    margin-left: 5px;
}
.mr8 {
    margin-right: 8px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.mr10 {
    margin-right: 10px;
}
.paging_bootstrap {
    margin-top: -8px;
}
.pagination { 
    margin-top: 8px;
    margin-right: 2px;
    float: right;
}
.control-label {
    /*color: #f39c12;*/
	color: #333;
}
.cls {	
    clear: both;
}
.form-body {	
    clear: both;
    /*    padding: 12px;*/
}
.submit {
    margin-right: 5px;
    float: left;
}

.custom-combobox {
    position: relative;
    display: inline-block;
    display: block;
    width: 100%;
    height: 33px;	
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    right: -2px;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    min-width: 100%;
    background: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}

.ui-keyboard.ui-corner-all {
    border-radius: 4px;
}

.form-control {
    height: 36px;
    border-color: #d2d6de;
    border-radius: 0 !important;
    box-shadow: none;
}
.Hidden
{
    display: None;
}
.Show
{
    display: block;
}
.input-required {
    color: #f56954;
    margin-left: 1px;
    font-size: 11px;
}
.td_textarea textarea {
    width: 99%;
    height: 80px;
    padding: 4px;
}
.td_select select {
    padding: 2px;
}
.td_input_text input {
    width: 99%;
    padding: 4px;
}
#dialog {
    padding: 0;
    margin: 0;

}


/******************************************************************/

.nomarlText
{
    font-weight:200 !important;
    cursor: pointer;
}

.box .box-header {
    border-bottom: 1px solid #f4f4f4;
    border-radius: 3px 3px 0 0;
    color: #444;
    position: relative;
}

.col-xs-12 .search-body .form-group {
    width: 46%;
    float: left;
    margin-left: 36px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group ul {
    float: left;
    list-style: none;
    clear: both;
    width: 100%;
    padding-top: 1px;
    padding-left: 1px;
}
.form-group ul li {    
    /*color: #dd4b39 !important;*/
}
.form-group ul li.error {
    float: left;
    color: #dd4b39 !important;
}
.form-group ul li.select2-selection__choice {
    color: #555 !important;
    font-size: 13px;
}
.form-group #searchButton {
    margin-top: 25px;
}
.form-button-group {
    padding: 10px 10px 0px 10px;
    border-top: 1px solid #d2d6de;
}
.form-button-group .form-group {
    float: left;
    margin-right: 10px;
}
.paging_sumary {
    float: right;
    display: inline-block;
    padding-right: 8px;
    margin-top: 8px;
	padding-top: 7px;
}
.button-group {
    float: left;
    margin-right: 10px;
}
.required-mark {
    color: #dd4b39 !important;
    margin-left: 1px;
    font-size: 11px;
}

.th_album_id {
    width: 70px;
}
.th_image_url {
    width: 55px;
}
.th_choose {
    width: 20px;
}
.th_edit, .td_edit {
    width: 50px;
    text-align: center;
}
.th_delete {
    width: 60px;
}
.th_featured {
	width: 60px;
}
#places_index .th_is_verified {
    width: 50px;
}
.images .form-group {
    margin-bottom: 10px;
    width: 100%;   
    float: left;
}
.images .button-group {    
    width: auto;
    height: auto;
}
.images .form-group-submit {
   clear: both;
}
.img-preview-75 {
    margin-top: 2px;
    width: 77px;
    height: 77px;
    border: 1px solid #eee;   
    background: #f5f5f5;
    display: table;
}
.bg-no-image {
    background: url(img/no_image.png) no-repeat 0px 0px;  
    background-size: 75px 75px;
}
.img-preview-75 a {
    background-color: #f5f5f5;
    vertical-align:middle;
    display: table-cell;
}
.img-preview-75 img {
    width: 75px;
    max-height: 75px;
}
.col-xs-12 .nav-tabs {
    width: 100%;
}
.col-xs-12 .box-body {
    clear: both;
}
.col-md-8 .nav-tabs {
    width: 100%;
}
.col-md-8 .box-body {
    clear: both;
}
.col-md-10 .nav-tabs {
    width: 100%;
}
.col-md-10 .box-body {
    clear: both;
}
.th_sort {
    width: 80px;
    vertical-align: middle;
}
.table>tbody>tr>td.td_sort {
    //vertical-align: middle;
} 
.th_edit {
    width: 40px;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.th_url_image {
    text-align: center;
    width: 50px;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.td_edit {
    width: 40px;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.th_active {
    width: 30px;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.td_created {
    width: 100px;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.td_code {
    width: 100px;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.th_buy {
    width: 40px;    
}
.ui-sortable tr {
	cursor:pointer;
}		
.ui-sortable tr:hover {
	background:rgba(244,251,17,0.45);
}
.box-body-table {
    padding-top: 4px !important;
}
table.dataTable  {
    margin-top: 0px !important;
}
table.dataTable thead th {
    padding-left: 14px;
}
table.dataTable thead .sorting:before {
    font: normal normal normal 10px/1 FontAwesome;
    opacity: 0.2;
    position: absolute;
    content: "\f0dc";
    top: 13px;
    left: 4px;   
}
table.dataTable thead .sorting_asc:before {
    font: normal normal normal 14px/1 FontAwesome;
    opacity: 0.5;
    position: absolute;
    content: "\f0de";
    top: 16px;
    left: 4px;
}
table.dataTable thead .sorting_desc:before {
    font: normal normal normal 14px/1 FontAwesome;
    opacity: 0.5;
    position: absolute;
    content: "\f0dd";
    top: 10px;
    left: 4px;
}
table.dataTable thead .sorting:after {
    content: "";
}
table.dataTable thead .sorting_asc:after {
    content: "";
}
table.dataTable thead .sorting_desc:after {
    content: "";
}
.select2 {
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    border-radius: 0px;
}
.select2-container .select2-selection--single {
    height: 36px;
    border-color: #d2d6de;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0px;
}
.select2-container .select2-selection--multiple {   
    border-color: #d2d6de;
}
/*
#lightbox-container-image-box {
    max-width: 800px;
    max-height: 600px;
}
#lightbox-container-image-box img {
    max-width: 100%;
    max-height: 100%;
}
#lightbox-container-image-data-box {
    max-width: 800px;
}
*/
td input {
    text-align:left;
    border: 1px solid #ddd;
    padding: 4px;
    width: 100%
}
.td_sort input {
    width: 50px;
    text-align:center;
    border: 1px solid #ddd;
    padding: 4px;
}
.th_field_id {
    width: 30px;
}
.th_option_id {
    width: 30px;
}
.form-group fieldset legend {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    border: 0px;
}
.form-group fieldset label {
    width: 100%;
    font-weight: normal;
}
.form-group fieldset label input {
    margin-right: 2px;
}
#modal-message {
    display: none;
}
.total-money {
    float: right;
    padding-right: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
tfoot .total-money {
    padding-right: 0px;
}
.total-money span {   
    color: red;
    font-size: 120%;
    margin-left: 8px;
}
.th_total_money {
   
    padding-right: 10px !important;
}
.td_total_money {
    
}
.add-order a {
    font-weight: bold !important;
}
.image-thumb {
    width: 20%;
    padding: 0px;
    margin: 0px;
    float: left;
    text-align: center; 
}
.image-view {
    float: left;
    text-align: center; 
    width: 80%;
    min-height: 250px;
    padding: 0px;
    margin: 0px;    
}

.image-thumb-inner {    
    margin: 2px;     
    width: 98%;
    border: 0px solid #eee;    
    display: table; 
}
.image-thumb ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.image-thumb li {    
    float: left;
    clear: both;
    margin-bottom: 10px;
    border-bottom: 0px;
    width: 100%;
    text-align: center; 
}
.image-thumb li img {       
    width: 60px; 
    border: 1px solid #eee;
}
.image-view-inner {    
    margin: 2px;     
    width: 98%;
    border: 1px solid #eee;    
    display: table;   
    text-align: center; 
}
.image-view img {
   width: 100%;
}
.attribute-name {
    padding-right: 2px;
}
.text-price .attribute-value {
    font-size: 24px;
    line-height: 30px;
    color: #3c8dbc;    
}
.original-price .attribute-value {
    text-decoration: line-through;
}
.p-buy-now {
    margin-top: 12px;
}
#products_detail .product-name {
    font-size: 150%;
}
#products_detail .box-tools {
    top: 10px;
}

.invoice-col .order-status {
    color: #fff !important;
    font-size: 80%;
    padding: 0px 8px !important;
    border-radius: 3px !important;
    display: none;
    width: 80px;
}
.invoice-col .new {
    background-color: #3c8dbc;
}
.invoice-col .cancel {
    background-color: #dd4b39;
}
.invoice-col .shipping {
    background-color: #ff851b;
}
.invoice-col .paid {
    background-color: #00a65a;
}
.invoice-col .done {
    background-color: #00a65a;
}
.modal .invoice {
    padding: 10px;
    margin: 0px 0px;
}

.products {
    width: 100%;
    padding-top: 15px !important;
}

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail .image {
    width: 100%;
    height: 300px !important;
    overflow-y: hidden;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.thumbnail .price
{
    text-transform: uppercase;
    color: #D4232B;
    font-weight: 700;
    font-size: 16px;
    float: left;
    clear: both;
}
.thumbnail .original-price {
    text-decoration: line-through;
    text-transform: uppercase;
    margin: 0px;
    float: left;
    clear: both;
    font-size: 14px;
}
.thumbnail .p-buy-now {
    float: right;
    margin-top: 0px;
}
.thumbnail .list-group-item-heading a {
    color: #333;
}

.image {
    width: 100%;
    height: 100%;   
    overflow: hidden;
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
.td_sort input {
	border: 0px;	
}

.treeview-menu .divider {
    height: 1px;
    margin: 8px 8px 8px 38px !important;
    overflow: hidden;
    background-color: #666;
}

#attributeForm .form-group fieldset label {
    width: 30%;
}
.th_name  {
	width: 120px;
}
.th_created  {
	width: 100px;
}
.th_mobile {
	width: 120px;
}
.th_total_money  {
	width: 90px;
}
.table  th  {
	text-align: left;
}